// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$adyton-color: #0a9baa;
$selection-color: $adyton-color;
$main-font-family: "Open Sans";
$background-image: url('pattern-light.jpg');
$well-background-color: rgba(184, 184, 184, 0.3);

*::selection {
	background-color: $selection-color;
}
*::-moz-selection {
	background-color: $selection-color;
}

body {
	height: 100%; /* for footer */
	background: { 
		image: $background-image;
	}
	font-family: $main-font-family;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li, th, td, button, a, .brand, input, select, textarea {
	font-family: $main-font-family;
}


.container-fluid.content {
	min-height: 100%; /* for footer */
	padding-top: 40px;
}

footer {
	position: relative;
  margin-top: -3em; /* negative value of footer height */
  height: 3em;
  clear:both;
  padding-top:20px;
} 

label, input[type="text"], button, select, textarea, .btn {
	font-size: 12px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
}

select:focus {
	outline-color: $adyton-color;
}

input[type="text"]:focus {
	border-color: $adyton-color;
}

.span12 {
	overflow:auto;
	padding-bottom:3em; /* for footer */
}

.span6.form {
	width: 40% !important;
	min-width: 585px;
}

legend {
	border-bottom: 0px;
}

.alert-success {
	position: fixed;
	bottom: 10px;
	right: 30px;
}

.preiframe {
	border: 0px;
	width: 773px;
	position: fixed;
	top: 60px;
	float: right;
	height: 80%;
	// @media (min-width: 1361px){
	// 	height: 80%;
	// }
	#pre {
		height: 100%;
		border: 0px;
	}
	.pre-scrollable {
		max-height: none;
		font-size: 12px;
	}
	#precontainer {
		display: none;
		height: 80%;
	}
}

#iframe {
	height: 100%;
	width: 773px;
	border: 0px;
}

.span6.newsletter {
	min-width: 800px;
	float: right;
}

.form-horizontal {
	label {
		float: left;
	}

	fieldset {
		margin-bottom: 20px;
	}

	.controls {
		margin-left: 90px;
	}
	.control-group {
		margin-bottom: 10px;
	}

	.well {
		background-color: $well-background-color;
	}

	.well .toggle, .toggle-general {
		cursor: pointer;
		float: left;
		margin: 10px 10px 10px 0;
	}

}

.navbar{
	.brand {
		color: $adyton-color;
	}

	.navbar-inner {
		background-color: #dfdfdf;
		background-image: none;
		box-shadow: none;
		-webkit-box-shadow:!important;
		border-bottom-width: 0px;
	}

	.nav {
		text-transform: uppercase;
	}

}
.nav-tabs {
	border-bottom: 0px;
	& > li > a {
		border-radius: 0px;
		-webkit-border-radius: 0px;
		&:hover {
			border-color: #eee;
		}
	}
	& > .active > a, & > .active > a:hover {
		background-color: transparent;
		border-bottom-color: #ddd !important;
	}
}

pre, #html {
	background-color: #150517 !important;
	color: #c3cdbf;
	font-family: "Oxygen Mono", sans-serif;
	border-radius: 0px;
	-webkit-border-radius: 0px;
}