// Place all the styles related to the Newsletters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	font-family: "Open Sans";
}

.span6.form {
width: 40% !important;
min-width: 585px;
}

.span6.newsletter {
min-width: 800px;
float: right;
}

.form-horizontal {
	label {
		float: left;
		text-align: right;
		width: 160px;
	}

	.control-group {
		margin-bottom: 10px;
	}

	label, input, button, select, textarea {
		font-size: 12px;
		border-radius: 0px;
		-webkit-border-radius: 0px;
		box-shadow: none;
		-webkit-box-shadow: none;
	}

	.well .toggle, .toggle-general {
		cursor: pointer;
		float: left;
		margin: 10px 10px 10px 0;
	}
}
